{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>First name: {{ student.first_name }}</p>
    <p>Last name: {{ student.last_name }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Phone: {% if student.phone %}{{ student.phone }}{% endif %}</p>
    <p>Birthday: {{ student.birthday }}</p>
    <p>City: {% if student.city %}{{ student.city }}{% endif %}</p>
    <td><a href="{% url 'students:update' student.pk %}">Edit</a></td>
    <br><br>
    <a href="/students/">Back to list</a>
{% endblock %}